.pagination {
	justify-content: center;
}
h2.movie-title {
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}
h2.movie-title:hover {
	color:red;
}
.jumbotron {
	margin-top: 1%;
}