<% content_for(:title,  "All Genres") %>
<div class="row">
  <% @genres.each do |genre| %>
    <div class="col-md-4">
      <img src="<%= genre.photo_url %>">
      <h2 class="genre-title"><%= genre.name %></h2>
      <p><%= genre.desc.first(400) %>...</p>
      <p><a class="btn btn-info" href="/genres/<%= genre.id %>" role="button">View Details</a></p>
    </div>
  <% end %>
</div>