<div class="jumbotron">
	<img style="float:left" src="<%= @genre.photo_url %>"/>
	<div class="genres-text" style="padding-left:3%">
		<div class="col-sm-8 mx-auto">
			<h1><%= @genre.name %></h1>
			<p><%= @genre.desc %></p>
			<a class="btn btn-primary" href="#" role="button">Follow!(To be implemented)</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 3</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
	<div class="col-md-4">
		<img src="http://via.placeholder.com/350x200">
		<h2 class="movie-title">Movie Number 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a class="btn btn-info" href="#" role="button">View details </a></p>
	</div>
</div>
