<% content_for(:title,  "Notificiations" ) %>
<table class="table table-hover">
  <thead>
  </thead>
  <tbody>
  	<% @newmovies.each do |movie| %>
  	<tr>
      <th scope="row"><a href="/movies/<%= movie.id%>/"><%= movie.title%></a> is added </th>
    </tr>
	<% end %>
  </tbody>
<table>
<hr>